<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>

<body>

	<div class="container">

		<h3 class="padding-top">Main Dashboard</h3>
		<a th:text="${versionNumber}"></a>
		<hr>
		<h4>Current Projects</h4>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Project Name</th>
							<th>Project Stage</th>
							<th>Target Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aProject : ${projectsList}">
							<td th:text="${aProject.name}" />
							<td th:text="${aProject.stage}" />
							<td th:text="${#dates.format(aProject.targetDate, 'dd-MMM-yyyy')}"></td>
						</tr>
					</tbody>
				</table>
				
				<!-- Pagination Elements -->
		<div th:if="${noOfPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-0">Total Rows: [[${totalItems}]] &nbsp;&nbsp;&nbsp; </div>
				<div class="col-sm-3">
					<span th:each="i: ${#numbers.sequence(1, noOfPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-2">
					<a th:if="${currentPage < noOfPages}"
						th:href="@{${currentPage + 1}}">Next</a>
					<span th:unless="${currentPage < noOfPages}">Next</span>
				</div>

				<div class="col-sm-2">
					<a th:if="${currentPage < noOfPages}"
						th:href="@{${noOfPages}}">Last</a>
					<span th:unless="${currentPage < noOfPages}">Last</span>
				</div>
			</div>
		</div>
				
			</div>

			<div class="col-md-4">
				<canvas id="myPieChart" height="50" width="50"></canvas>
				<script>
					var chartData = "[[${projectStatusCnt}]]"
				</script>

			</div>
		</div>
	</div>

	<div class="container">
		<h4>Current Employees</h4>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Project Count</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aEmployeeProjectCnt : ${employeesListProjectsCnt}">
							<td th:text="${aEmployeeProjectCnt.firstName}" />
							<td th:text="${aEmployeeProjectCnt.lastName}" />
							<td th:text="${aEmployeeProjectCnt.projectCount}" />
						</tr>

					</tbody>

				</table>
			</div>
		</div>

	</div>

	<script type="text/javascript" th:src="@{/js/myChart.js}"></script>

</body>